.cursor {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #5f5f5f;
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: all 0.08s linear;
	z-index: 9999;
}
