.header {
	width: 100%;
	padding: 20px 50px;
	background-color: #0a0a0a;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #242424;
	margin-bottom: 25px;
}

.city_select {
	background-color: #242424;
	width: 200px;
	padding: 10px 10px;
	border-radius: 12px;
}
